.nav {
    line-height: 60px;
    padding: 0 50px;
    background-color: #fff;
  }
  a {
    color: #71777c;
    margin: 0 20px;
  }
.logo{
  font-size: 20px;
  font-weight: 800;
  margin: 0 20px;
  cursor: pointer;
  color: rgb(245, 12, 12);
}